body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   
  nav {
    background-color: rgba(17, 1, 1, 0.726);
    color: white;
    padding: 5px;
    text-align: right;
  }
   
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 10px;
  }
   
  router-outlet {
    margin: 20px;
  }
   
  button {
    background-color: #147ec0;
    color: rgb(231, 37, 147);
    padding: 10px;
    border: none;
    cursor: pointer;
  }
   
  button:hover {
    background-color: #4833e8;
  }