body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   
  nav {
    background-color: rgba(37, 25, 25, 0.329);
    color: white;
    padding: 10px;
    text-align: center;
  }
   
  nav a {
    color: rgb(5, 188, 78);
    text-decoration: none;
    margin-right: 10px;
  }
   
  router-outlet {
    margin: 20px;
  }
   
  button {
    background-color: #da5614;
    color: rgb(108, 12, 12);
    padding: 10px;
    border: none;
    cursor: pointer;
  }
   
  button:hover {
    background-color: #4520b3;
  }