.login-form {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
   
  .error-message {
    color: rgb(248, 21, 21);
    margin-top: 10px;
  }

  .success-message {   color: rgb(144, 225, 23);  
     margin-top: 10px; }