body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   
  nav {
    background-color: rgba(221, 191, 20, 0.77);
    color: rgb(233, 234, 210);
    padding: 10px;
    text-align: right;
  }
   
  nav a {
    color: rgb(78, 11, 179);
    text-decoration: none;
    margin-right: 10px;
  }
   
  router-outlet {
    margin: 20px;
  }
   
  button {
    background-color: #a33709;
    color: rgb(222, 216, 163);
    padding: 10px;
    border: none;
    cursor: pointer;
  }
   
  button:hover {
    background-color: #0c16cd;
  }