body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   
  nav {
    background-color: rgba(28, 22, 22, 0.726);
    color: white;
    padding: 5px;
    text-align: left;
  }
   
  nav a {
    color: rgb(120, 223, 9);
    text-decoration: none;
    margin-right: 10px;
  }
   
  router-outlet {
    margin: 20px;
  }
   
  button {
    background-color: #881b0a;
    color: rgb(198, 201, 120);
    padding: 10px;
    border: none;
    cursor: pointer;
  }
   
  button:hover {
    background-color: #1f12d5;
  }