<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field>
    <input matInput formControlName="username" placeholder="Username">
    <mat-error *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
    <div *ngIf="loginForm.get('username')?.errors?.['required']">Username is required</div>
    <div *ngIf="loginForm.get('username')?.errors?.['minlength']">Username must be at least 5 characters</div>
    </mat-error>
    </mat-form-field>
    <mat-form-field>
    <input matInput formControlName="password" type="password" placeholder="Password">
    <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 9 characters</div>
    </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
     
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <!-- <button mat-raised-button color="primary" type="submit">Login</button> -->
 
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
 
<!-- Add this div for success message -->
<div *ngIf="isLoginSuccessful" class="success-message">
  Login successful..!
</div>
    </form>