.login-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 5px solid rgb(211, 224, 22);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(128, 5, 139, 0.1);
  }
   
  .error-message {
    color: red;
    margin-top: 10px;
  }

  .success-message {   color: green;  
     margin-top: 10px; }